/*


.jumbotron {
        text-align: center;
        background-color: #003366 ;
        color: white;
        margin-left: 80px ; 
        margin-right:80px;

    }

.panel-head {
	color:white;
	background-color: #003366;
	padding-left: 20px;
	font-size: 16px;
}

#form {
	padding: 10px;

}*/

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


#quotes {
  background-color: white;
  color: teal;
  padding:10px;
  border-radius: 25px;
}

.chart {
    height: 600px;
		width: 600px;
		background-color: lightgrey;
}

#header {
  border-color: teal;
  border-width: 10px;
}

#chart1 {
  float:left;
}

#charttext1 {
  float:left;
}